/* ==========================================================================
   Grid
   ========================================================================== */

.grid {
  display: grid;
}

/* Grid Columns */
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Responsive Variants */
@media (min-width: 768px) {
  .md\:grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .lg\:grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .lg\:grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-wrap-reverse {
    grid-auto-flow: row;
  }

  .grid-wrap-reverse > *:first-child {
    order: 2;
  }

  .grid-wrap-reverse > *:last-child {
    order: 1;
  }
}
