/* ==========================================================================
   Layout
   ========================================================================== */

/* Container */
.container {
  margin: 0 auto;
}

/* Width / Height */
.w-100 {
  width: 100%;
}

.max-w-content {
  max-width: max-content;
}

.min-h-90vh {
  min-height: 90vh;
}

/* Responsive Variants */
@media (min-width: 768px) {
  .container {
    max-width: 60%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
}
