/* INVOICE */

/* Invoice popup base style */
.invoice {
  position: absolute;
  opacity: 0;
  transform: translateY(20px);
}

/* Positioning each invoice separately */
.invoice-1 {
  top: 20%;
  left: 5%;
  transform: translateY(-50%);
  animation-delay: 1s;
}

.invoice-2 {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  animation-delay: 2s;
}

.invoice-3 {
  top: 80%;
  left: 5%;
  transform: translateY(-50%);
  animation-delay: 3s;
}
