:root {
  /* Base colors */
  --c-blue: #3c507a;
  --c-dark-blue: #16263e;
  --c-light-blue: #ecf8ff;

  --c-red: #cf2127;
  --c-dark-red: rgb(160, 30, 30);

  --c-green: rgb(0, 182, 122);

  --c-white: rgba(250, 250, 250, 0.98);
  --c-light-gray: #f9f9f9;
  --c-gray: #7a7a7a;
  --c-dark: #1a1a1a;

  --box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);

  /* Semantic color variables */
  --color-primary: var(--c-blue);
  --color-accent: var(--c-dark-blue);
  --color-section-bg: var(--c-light-blue);
  --color-error: var(--c-red);

  --text-color: var(--c-dark-blue); /* Default text */
  --text-color-light: var(--c-white); /* Light-on-dark text */
  --text-muted: var(--c-gray); /* Subtext, descriptions, etc. */
  --bg-light: var(--c-light-gray); /* For cards, panels, etc. */
  --bg-dark: var(--c-dark-blue); /* For dark mode headers, footers */
}
