img {
  aspect-ratio: 1 / 1;
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.hero-image {
  max-width: 500px;
  border-radius: 1rem;
}

.icon {
  width: 3.2rem;
}

@media (max-width: 768px) {
  .icon {
    width: 2.5rem;
  }
}
