<section id="about" class="flex items-center justify-center min-h-90vh py-3xl px-xl" aria-labelledby="about-heading">
  <div class="container">
    <div class="grid grid-col-1 gap-xl lg:grid-col-2">
      <div class="flex justify-center flex-col gap-lg">
        <h2 id="about-heading" class="text-xl text-accent animate-fade-up" data-animate-about-item>
          {{TITLE}}
        </h2>
        <p class="text-lg animate-fade-up" data-animate-about-item>
          {{DESCRIPTION}}
        </p>
      </div>
      <div class="lg:flex lg:justify-center">
        <!-- STEPS -->
      </div>
    </div>
  </div>
</section>