<footer>
  <div class="container">
    <div class="flex flex-column align-center gap-sm">
      <span class="text--logo text--bold">FEDREV</span>
      <nav>
        <ul class="nav-list">
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <p class="text--size-sm">
        &copy; <span id="year"></span> FEDREV. All rights reserved.
      </p>
    </div>
  </div>
</footer>
