<header class="header">
  <div class="container">
    <div class="header--wrapper flex align-center justify-between">
      <!-- LOGO -->

      <a href="#home">
        <span class="text--logo text--bold text--color-accent">FEDREV</span>
      </a>

      <!-- HAMBURGER -->

      <button
        class="nav-toggle"
        aria-label="Toggle navigation"
        aria-expanded="false"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- NAV -->

      <nav class="nav" role="navigation">
        <ul class="nav-list">
          <li>
            <a href="{{DESTINATION}}" class="nav-link">
              <span class="text--bold text--color-accent">{{LABEL}}</span>
            </a>
          </li>
          <li>
            <a href="{{DESTINATION}}" class="nav-link">
              <span class="text--bold text--color-accent">{{LABEL}}</span>
            </a>
          </li>
          <li>
            <a href="{{DESTINATION}}" class="nav-link">
              <span class="text--bold text--color-accent">{{LABEL}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
