<section id="home" class="section hero">
  <div class="container side-by-side-layout reverse">
    <div class="side">
      <img
        src="/public/img/business-owner.jpg"
        alt="Federal contractor working on project"
        class="hero-image hero-item animate-in"
      />
      <!-- INVOICES -->
    </div>
    <div class="side">
      <div class="flex flex-column gap-md">
        <h1 class="text--size-xl text--color-primary hero-item animate-in">
          {{TITLE}}
        </h1>
        <p class="text--size-lg hero-item animate-in">{{DESCRIPTION}}</p>
        <a href="#contact" class="btn btn--color-primary hero-item animate-in">
          <span class="text--size-md">{{CTA}}</span></a
        >
      </div>
    </div>
  </div>
</section>
