<nav class="nav" role="navigation" aria-label="Main navigation">
  <ul class="nav-list">
    <li>
      <a
        href="#{{DESTINATION}}"
        class="nav-link"
        aria-label="Go to {{ARIA LABEL}} section"
      >
        <span class="text-bold text--blue-700">{{LABEL}}</span>
      </a>
    </li>
    <li>
      <a
        href="#{{DESTINATION}}"
        class="nav-link"
        aria-label="Go to {{ARIA LABEL}} section"
      >
        <span class="text-bold text--blue-700">{{LABEL}}</span>
      </a>
    </li>
    <li>
      <a
        href="#{{DESTINATION}}"
        class="nav-link"
        aria-label="Go to {{ARIA LABEL}} section"
      >
        <span class="text-bold text--blue-700">{{LABEL}}</span>
      </a>
    </li>
  </ul>
</nav>
