<ul class="grid grid--items-4 gap--sm">
  <li class="service-card service-item animate-in">
    <img src="/public/icons/check_box.svg" class="icon" />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
  <li class="service-card service-item animate-in">
    <img src="/public/icons/checklist.svg" class="icon" />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
  <li class="service-card service-item animate-in">
    <img src="/public/icons/bid_landscape.svg" class="icon" />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
  <li class="service-card service-item animate-in">
    <img src="/public/icons/account_tree.svg" class="icon" />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
</ul>
