<ul class="grid grid-col-4 gap-1 md:grid-col-2 sm:grid-col-1" role="list">
  <li
    class="flex flex-col gap-1 bg-light items-center p-2 border-radius-1 shadow text-center animate-fade-up"
    data-animate-service-item
  >
    <img
      src="/public/icons/check_box.svg"
      class="icon"
      alt=""
      aria-hidden="true"
      loading="lazy"
      decoding="async"
    />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
  <li
    class="flex flex-col gap-1 bg-light items-center p-2 border-radius-1 shadow text-center animate-fade-up"
    data-animate-service-item
  >
    <img
      src="/public/icons/checklist.svg"
      class="icon"
      alt=""
      aria-hidden="true"
      loading="lazy"
      decoding="async"
    />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
  <li
    class="flex flex-col gap-1 bg-light items-center p-2 border-radius-1 shadow text-center animate-fade-up"
    data-animate-service-item
  >
    <img
      src="/public/icons/bid_landscape.svg"
      class="icon"
      alt=""
      aria-hidden="true"
      loading="lazy"
      decoding="async"
    />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
  <li
    class="flex flex-col gap-1 bg-light items-center p-2 border-radius-1 shadow text-center animate-fade-up"
    data-animate-service-item
  >
    <img
      src="/public/icons/account_tree.svg"
      class="icon"
      alt=""
      aria-hidden="true"
      loading="lazy"
      decoding="async"
    />
    <h3>{{TITLE}}</h3>
    <p>{{DESCRIPTION}}</p>
  </li>
</ul>
