<ul class="grid grid-col-1 gap-md">
  <li class="flex flex-col gap-md animate-fade-up" data-animate-about-item>
    <div class="bg-light shadow w-100 p-lg border-radius-1 flex flex-col gap-xs items-center">
      <h3>{{TITLE}}</h3>
      <p class="text-center text-md text-ch30">{{DESCRIPTION}}</p>
    </div>
    <div class="text-center" aria-hidden="true">
      <span class="text-lg">↓</span>
    </div>
  </li>
  <li class="flex flex-col gap-md animate-fade-up" data-animate-about-item>
    <div class="bg-light shadow w-100 p-lg border-radius-1 flex flex-col gap-xs items-center">
      <h3>{{TITLE}}</h3>
      <p class="text-center text-md text-ch30">{{DESCRIPTION}}</p>
    </div>
    <div class="text-center" aria-hidden="true">
      <span class="text-lg">↓</span>
    </div>
  </li>
  <li class="flex flex-col gap-md animate-fade-up" data-animate-about-item>
    <div class="bg-light shadow w-100 p-lg border-radius-1 flex flex-col gap-xs items-center">
      <h3>{{TITLE}}</h3>
      <p class="text-center text-md text-ch30">{{DESCRIPTION}}</p>
    </div>
  </li>
</ul>