<ul class="grid grid-col-1 gap-1" role="list">
  <li class="flex flex-col gap-1 animate-fade-up" data-animate-about-item>
    <div
      class="bg-light shadow w-100 p-1 border-radius-1 flex flex-col items-center"
    >
      <h3>{{TITLE}}</h3>
      <p class="text-center text-md text-ch30">{{DESCRIPTION}}</p>
    </div>
    <div class="text-center" aria-hidden="true">
      <span class="text-lg">↓</span>
    </div>
  </li>
  <li class="flex flex-col gap-1 animate-fade-up" data-animate-about-item>
    <div
      class="bg-light shadow w-100 p-1 border-radius-1 flex flex-col items-center"
    >
      <h3>{{TITLE}}</h3>
      <p class="text-center text-md text-ch30">{{DESCRIPTION}}</p>
    </div>
    <div class="text-center" aria-hidden="true">
      <span class="text-lg">↓</span>
    </div>
  </li>
  <li class="flex flex-col gap-1 animate-fade-up" data-animate-about-item>
    <div
      class="bg-light shadow w-100 p-1 border-radius-1 flex flex-col items-center"
    >
      <h3>{{TITLE}}</h3>
      <p class="text-center text-md text-ch30">{{DESCRIPTION}}</p>
    </div>
  </li>
</ul>
