<ul class="grid grid--items-1 gap--sm">
  <li class="flex flex-column gap-sm about-item animate-in">
    <div class="step-card">
      <h3>{{TITLE}}</h3>
      <p class="text--size-md">{{DESCRIPTION}}</p>
    </div>
    <div class="text--center">
      <span> ↓ </span>
    </div>
  </li>
  <li class="flex flex-column gap-sm about-item animate-in">
    <div class="step-card">
      <h3>{{TITLE}}</h3>
      <p class="text--size-md">{{DESCRIPTION}}</p>
    </div>
    <div class="text--center">
      <span> ↓ </span>
    </div>
  </li>
  <li class="flex flex-column gap-sm about-item animate-in">
    <div class="step-card">
      <h3>{{TITLE}}</h3>
      <p class="text--size-md">{{DESCRIPTION}}</p>
    </div>
  </li>
</ul>
